<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bloggdude.com Site</title>
    <link rel="stylesheet" href="{% static 'css/cssanas8.css '%}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;
0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tapestry&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top py-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html"><img src="/static/images/3.png" width="150px" height="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="Blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hosting.html">Best WP Hosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Discount.html">Resources & Discounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Gear.html">My Gear</a>
                    </li>
                    <div class=" text-end">
                        <a href="logout.html"><button type="button" class="btn btn-outline-success">Logout</button></a>
                    </div>
                </ul>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
            </div>
        </div>
    </nav>

    <section id="blog-page" class="section-p2">
        <div class="blogpa">
            <div class="blog-page1">
                <div class="blog-page2">
                    <img src="/static/images/H1.PNG" onclick="window.location.href='https://bloggdude.com/how-to-start-a-free-money-making-blog-with-chat-gpt-wordpress-2023/'">
                </div>
                <div class="blog-page3">
                    <p>AFFILIATE MARKETING <span>/</span> BLOG <span>/</span> WORDPRESS</p>
                    <a onclick="window.location.href='https://bloggdude.com/how-to-start-a-free-money-making-blog-with-chat-gpt-wordpress-2023/'">
                        <h1>How to Start a FREE Money Making BLOG with Chat GPT & WordPress 2023</h1>
                    </a>
                    <h6>…</h6>
                    <h5><i class=" fa fa-comment-o "><span>COMMENTS OFF     </span></i> FEBRUARY 21, 2023</h5>
                </div>
            </div>
            <div class="blog-page1">
                <div class="blog-page2">
                    <img src="/static/images/H2.PNG" onclick="window.location.href='https://bloggdude.com/how-to-create-online-course-lms-educational-website-like-udemy-with-wordpress-2023-tutor-lms/'">
                </div>
                <div class="blog-page3">
                    <p>LMS - ONLINE COURSES <span>/</span> WORDPRESS <span>/</span> WORDPRESS - THEMES</p>
                    <a onclick="window.location.href='https://bloggdude.com/how-to-create-online-course-lms-educational-website-like-udemy-with-wordpress-2023-tutor-lms/'">
                        <h1>How to Create Online Course, LMS, Educational Website like Udemy with WordPress 2023 – Tutor LMS</h1>
                    </a>
                    <h6>…</h6>
                    <h5><i class=" fa fa-comment-o "><span>COMMENTS OFF     </span></i> FEBRUARY 21, 2023</h5>
                </div>
            </div>
            <div class="blog-page1">
                <div class="blog-page2">
                    <img src="/static/images/H3.PNG" onclick="window.location.href='https://bloggdude.com/how-to-make-a-wordpress-website-for-free-2023-wordpress-designing-masterclass-elementor-phlox/'">
                </div>
                <div class="blog-page3">
                    <p>FREE WORDPRESS THEMES <span>/</span> WORDPRESS <span>/</span> WORDPRESS - THEMES</p>
                    <a onclick="window.location.href='https://bloggdude.com/how-to-make-a-wordpress-website-for-free-2023-wordpress-designing-masterclass-elementor-phlox/'">
                        <h1>How to Make a WordPress Website for FREE 2023 – WordPress Designing MasterClass – Elementor & Phlox</h1>
                    </a>
                    <h6>…</h6>
                    <h5><i class=" fa fa-comment-o "><span>COMMENTS OFF     </span></i> JANUARY 2, 2023</h5>
                </div>
            </div>
            <div class="blog-page1">
                <div class="blog-page2">
                    <img src="/static/images/h8.PNG" onclick="window.location.href='https://bloggdude.com/how-to-make-a-website-for-gym-fitness-center-or-yoga-center-with-wordpress-elementor-2023/'">
                </div>
                <div class="blog-page3">
                    <p>ELEMENTOR <span>/</span> FREE WORDPRESS THEMES <span>/</span> WORDPRESS</p>
                    <a onclick="window.location.href='https://bloggdude.com/how-to-make-a-website-for-gym-fitness-center-or-yoga-center-with-wordpress-elementor-2023/'">
                        <h1>How to Make a Website for Gym, Fitness Center or Yoga Center with WordPress & Elementor 2023</h1>
                    </a>
                    <h6>…</h6>
                    <h5><i class=" fa fa-comment-o "><span>COMMENTS OFF     </span></i> DECEMBER 26, 2022</h5>
                </div>
            </div>
            <div class="blog-page1">
                <div class="blog-page2">
                    <img src="/static/images/h9.PNG" onclick="window.location.href='https://bloggdude.com/how-to-make-multi-vendor-ecommerce-marketplace-website-like-amazon-flipkart-with-wordpress-dokan-2023/'">
                </div>
                <div class="blog-page3">
                    <p>ECOMMERCE <span>/</span> ELEMENTOR <span>/</span> WORDPRESS </p>
                    <a onclick="window.location.href='https://bloggdude.com/how-to-make-multi-vendor-ecommerce-marketplace-website-like-amazon-flipkart-with-wordpress-dokan-2023/'">
                        <h1>How to Make Multi Vendor eCommerce Marketplace Website like Amazon & FlipKart with WordPress & Dokan 2023 </h1>
                    </a>
                    <h6>…</h6>
                    <h5><i class=" fa fa-comment-o "><span>COMMENTS OFF     </span></i> NOVEMBER 18, 2022</h5>
                </div>
            </div>
        </div>
        <div class="blog-page4">
            <div class="blog-page5">
                <button>SUBSCRIBE TO STAY UPDATED</button>
                <img src="/static/images/h10.PNG" onclick="window.location.href='https://www.youtube.com/channel/UCVgHeVqf7aIlqXQtB83v4sw'">
                <img src="/static/images/h11.jpg" onclick="window.location.href='https://bloggdude.com/a2'">
                <button>RECENT POSTS</button>
                <hr>
                <p>How to Start a FREE Money Making BLOG with Chat GPT & WordPress 2023</p>
                <hr>
                <p>How to Create Online Course, LMS, Educational Website like Udemy with WordPress 2023 – Tutor LMS</p>
                <hr>
                <p>How to Make a WordPress Website for FREE 2023 – WordPress Designing MasterClass – Elementor & Phlox</p>
                <hr>
                <p>How to Make a Website for Gym, Fitness Center or Yoga Center with WordPress & Elementor 2023</p>
                <hr>
                <p>How to Make Multi Vendor eCommerce Marketplace Website like Amazon & FlipKart with WordPress & Dokan 2023</p>
                <button>FOLLOW ME</button>
                <div class="blog-page6">
                    <i class="fa fa-facebook-official" onclick="window.location.href='https://twitter.com/realnayyar'"></i>
                    <i class="fa fa-instagram" onclick="window.location.href='https://www.instagram.com/nayyar_Shaikh/'"></i>
                    <i class="fa fa-linkedin-square" onclick="window.location.href='https://www.linkedin.com/in/nayyar-shaikh/'"></i>
                    <i class="fa fa-youtube-play" onclick="window.location.href='https://www.youtube.com/user/nayyar29?sub_confirmation=1'"></i>
                </div>
            </div>
        </div>

    </section>

    <section id="blogp1" class="section-p2">
        <div class="blogp2">
            <a href="#"><button>1</button></a>
            <a href="#"><button>2</button></a>
            <a href="#"><button>...</button></a>
            <a href="#"><button>20</button></a>
            <a href="#"><button><i class="fa fa-share-square"></i></button>
                </a>
        </div>
    </section>


    <section id="home-page8" class="section-p2">
        <h1>Best WordPress Hostings</h1>
        <div class="home-page9">
            <div class="home-page10">
                <img src="/static/images/h4.png" onclick="window.location.href='https://bloggdude.com/host'">
                <h2>Hostinger <span>#1</span></h2>
                <p>Hostinger is Undoubtedly THE BEST & Most Affordable WordPress Hosting Provider in the Market Right Now</p>
                <a href="https://bloggdude.com/host"><button>Get Discount</button></a>
            </div>
            <div class="home-page10">
                <img src="/static/images/h5.png" onclick="window.location.href='https://bloggdude.com/bh'">
                <h2>BlueHost</h2>
                <p>It is one of the Best Value Hosting Provider with Premium features & Performance of Hosting Provider .</p>
                <a href="https://bloggdude.com/bh"><button>Get Discount</button></a>
            </div>
            <div class="home-page10">
                <img src="/static/images/h6.png" onclick="window.location.href='https://bloggdude.com/a2'">
                <h2>A2 Hosting</h2>
                <p>A2 Hosting is a blazing fast web hosting solution for WordPress Websites Provider in the Market Right Now.</p>
                <a href="https://bloggdude.com/a2"><button>Get Discount</button></a>
            </div>
            <div class="home-page10">
                <img src="/static/images/h7.png" onclick="window.location.href='https://bloggdude.com/sg'">
                <h2>SiteGround</h2>
                <p>It is one of the Most Reliable and famous Hosting Providers, with Best Support for WordPress Websites .</p>
                <a href="https://bloggdude.com/sg"><button>Get Discount</button></a>
            </div>
        </div>
    </section>


    <section id="footer-page" class="section-p3">
        <div class="footer-page1">
            <img src="/static/images/3.png">
            <h1>Contact</h1>
            <p><span>Address:  </span>Usma Masjid Jameel Colony Kabirwala</p>
            <p><span>Phone:   </span>0322-6550052 +923065874752</p>
            <p><span>Hours:  </span>8:00AM to 10PM Monday to Sunday</p>
            <div class="footer-page2">
                <h1>Follow Us :</h1>
                <a href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                <a href="https://www.google.com"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.facebook.com"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-page3">
            <h1>About</h1>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Best WP Hosting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resources & Discounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Gear</a>
                </li>
            </ul>
        </div>
        <div class="footer-page4">
            <h1>My Account</h1>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Track My Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
        <div class="footer-page5">
            <h1>Install App</h1>
            <p>Form My store Or Google Play</p>
            <div class="footer-page6">
                <img src="/static/images/n29.png" width="20px" height="20px">
                <img src="/static/images/n30.png" width="20px" height="20px">
            </div>
            <p>Secured Payment Getways</p>
            <img src="/static/images/n31.png" width="20px" height="20px">
        </div>
        <div class="footer-pageb6">
            <p>@ 2022 ,Muhammad Awais - Full Stack Develpor</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js " integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3 " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js " integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i " crossorigin="anonymous "></script>
</body>

</html>