<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bloggdude.com Site</title>
    <link rel="stylesheet" href="{% static 'css/cssanas15.css '%}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;
0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tapestry&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top py-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html"><img src="/static/images/3.png" width="150px" height="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hosting.html">Best WP Hosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Discount.html">Resources & Discounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="Gear.html">My Gear</a>
                    </li>
                </ul>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
                <div class=" text-end">
                    <a href="logout.html"><button type="button" class="btn btn-outline-success">Logout</button></a>
                </div>
            </div>
        </div>
    </nav>

    <section id="gear-page">
        <div class="gear-page1">
            <img src="/static/images/n32.png">
        </div>
    </section>

    <section id="gear-page2" class="section-p2">
        <h1>VIDEO SETUP</h1>
        <div class="gear-page3">
            <div class="gear-page4">
                <img src="/static/images/n36.jpg">
                <h1>CANON 80D</h1>
                <p>This is my main Camera which I use to record myself for YouTube videos and other Projects. The Picture Quality is Just Amazing.</p>
                <a onclick="window.location.href='https://amzn.to/32KoS4D'"><button>GET THIS CAMERA</button></a>
            </div>
            <div class="gear-page4">
                <img src="/static/images/n37.jpg">
                <h1>LOGITECH C922</h1>
                <p>This is my secondary camera which I mostly use for Streaming 
				live on YouTube and Sometime for recording Tutorials.</p>
                <a onclick="window.location.href='https://amzn.to/2YfKgPK'"><button>GET THIS WEBCAM</button></a>
            </div>
            <div class="gear-page4">
                <img src="/static/images/n38.jpg">
                <h1>CANON 50MM</h1>
                <p>Apart from the regular Kit Lens I also use the Canon 50mm f/1.8 lens which 
				is great for Shooting in Low light Situations.</p>
                <a onclick="window.location.href='https://amzn.to/2Sx76wL'"><button>GET THIS LENS</button></a>
            </div>
        </div>
    </section>

    <section id="gear-page5" class="section-p2">
        <h1>Computer configuration</h1>
        <p>This is the Exact Computer Configuration that I am Currently using to Render Tutorials and Edit my Videos.</p>
        <div class="gear-page9">
            <div class="gear-page6">
                <div class="gear-page7">
                    <img src="/static/images/n39.jpg">
                </div>
                <div class="gear-page8">
                    <h2>Ryzen 7 -1700 (CPU)</h2>
                    <a onclick="window.location.href='https://amzn.to/32FmNGO'"><button>Get This Product</button></a>
                </div>
            </div>
            <div class="gear-page6">
                <div class="gear-page7">
                    <img src="/static/images/n40.jpg">
                </div>
                <div class="gear-page8">
                    <h2>860 Evo - 500 GB SSD</h2>
                    <a onclick="window.location.href='https://amzn.to/2YfLj28'"><button>Get This Product</button></a>
                </div>
            </div>
            <div class="gear-page6">
                <div class="gear-page7">
                    <img src="/static/images/n41.jpg">
                </div>
                <div class="gear-page8">
                    <h2>Vengeance 16GB (RAM)</h2>
                    <a onclick="window.location.href='https://amzn.to/2SDdDq1'"><button>Get This Product</button></a>
                </div>
            </div>
            <div class="gear-page6">
                <div class="gear-page7">
                    <img src="/static/images/n42.jpg">
                </div>
                <div class="gear-page8">
                    <h2>Cooler Master MasterBox MB511 RGB (ATX)</h2>
                    <a onclick="window.location.href='https://amzn.to/2XT9Zhn'"><button>Get This Product</button></a>
                </div>
            </div>
            <div class="gear-page11">
                <div class="gear-page12">
                    <img src="/static/images/n43.jpg">
                </div>
                <div class="gear-page13">
                    <h2>GeForce GTX 1660 Ti (Grpahics)</h2>
                    <a onclick="window.location.href='https://amzn.to/2SuD90A'"><button>Get This Product</button></a>
                </div>
            </div>
            <div class="gear-page11">
                <div class="gear-page12">
                    <img src="/static/images/n44.jpg">
                </div>
                <div class="gear-page13">
                    <h2>Prime X-470 Pro (Mobo)</h2>
                    <a onclick="window.location.href='https://amzn.to/2SqVHP6'"><button>Get This Product</button></a>
                </div>
            </div>
            <div class="gear-page11">
                <div class="gear-page12">
                    <img src="/static/images/n45.jpg">
                </div>
                <div class="gear-page13">
                    <h2>Barracuda 4TB Internal SATA Hard Drive</h2>
                    <a onclick="window.location.href='https://amzn.to/2JRVJM5'"><button>Get This Product</button></a>
                </div>
            </div>
            <div class="gear-page11">
                <div class="gear-page12">
                    <img src="/static/images/n46.jpg">
                </div>
                <div class="gear-page13">
                    <h2>HP 27es 27 Inches Display IPS LED Backlit Monitor</h2>
                    <a onclick="window.location.href='https://amzn.to/2YfM636'"><button>Get This Product</button></a>
                </div>
            </div>
        </div>


    </section>

    <section id="gear-page2" class="section-p2">
        <h1>Audio setup</h1>
        <div class="gear-page3">
            <div class="gear-page4">
                <img src="/static/images/n33.png">
                <h1>SHURE SM7B</h1>
                <p>This is my main Camera which I use to record myself for YouTube videos and other Projects. The Picture Quality is Just Amazing.</p>
                <a onclick="window.location.href='https://amzn.to/2SsXNOq'"><button>GET THIS MIC</button></a>
            </div>
            <div class="gear-page4">
                <img src="/static/images/n47.jpg">
                <h1>SCARLETT 2I2</h1>
                <p>This is my secondary camera which I mostly use for Streaming live on YouTube and Sometime for recording Tutorials.</p>
                <a onclick="window.location.href='https://amzn.to/2JSyKQY'"><button>GET THE AUDIO DEVICE</button></a>
            </div>
            <div class="gear-page4">
                <img src="/static/images/n48.jpg">
                <h1>DBX 286S</h1>
                <p>Apart from the regular Kit Lens I also use the Canon 50mm f/1.8 lens which is great for Shooting in Low light Situations.</p>
                <a onclick="window.location.href='https://amzn.to/2YlSd5I'"><button>GET THIS DEVICE</button></a>
            </div>
        </div>
    </section>

    <section id="home-page8" class="section-p2">
        <h1>Best WordPress Hostings</h1>
        <div class="home-page9">
            <div class="home-page10">
                <img src="/static/images/h4.png" onclick="window.location.href='https://bloggdude.com/host'">
                <h2>Hostinger <span>#1</span></h2>
                <p>Hostinger is Undoubtedly THE BEST & Most Affordable WordPress Hosting Provider in the Market Right Now</p>
                <a href="https://bloggdude.com/host"><button>Get Discount</button></a>
            </div>
            <div class="home-page10">
                <img src="/static/images/h5.png" onclick="window.location.href='https://bloggdude.com/bh'">
                <h2>BlueHost</h2>
                <p>It is one of the Best Value Hosting Provider with Premium features & Performance of Hosting Provider .</p>
                <a href="https://bloggdude.com/bh"><button>Get Discount</button></a>
            </div>
            <div class="home-page10">
                <img src="/static/images/h6.png" onclick="window.location.href='https://bloggdude.com/a2'">
                <h2>A2 Hosting</h2>
                <p>A2 Hosting is a blazing fast web hosting solution for WordPress Websites Provider in the Market Right Now.</p>
                <a href="https://bloggdude.com/a2"><button>Get Discount</button></a>
            </div>
            <div class="home-page10">
                <img src="/static/images/h7.png" onclick="window.location.href='https://bloggdude.com/sg'">
                <h2>SiteGround</h2>
                <p>It is one of the Most Reliable and famous Hosting Providers, with Best Support for WordPress Websites .</p>
                <a href="https://bloggdude.com/sg"><button>Get Discount</button></a>
            </div>
        </div>
    </section>


    <section id="footer-page" class="section-p3">
        <div class="footer-page1">
            <img src="/static/images/3.png">
            <h1>Contact</h1>
            <p><span>Address:  </span>Usma Masjid Jameel Colony Kabirwala</p>
            <p><span>Phone:   </span>0322-6550052 +923065874752</p>
            <p><span>Hours:  </span>8:00AM to 10PM Monday to Sunday</p>
            <div class="footer-page2">
                <h1>Follow Us :</h1>
                <a href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                <a href="https://www.google.com"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.facebook.com"><i class="fa fa-facebook-official"></i></a>
                <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-page3">
            <h1>About</h1>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Best WP Hosting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resources & Discounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Gear</a>
                </li>
            </ul>
        </div>
        <div class="footer-page4">
            <h1>My Account</h1>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Track My Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
        <div class="footer-page5">
            <h1>Install App</h1>
            <p>Form My store Or Google Play</p>
            <div class="footer-page6">
                <img src="/static/images/n29.png" width="20px" height="20px">
                <img src="/static/images/n30.png" width="20px" height="20px">
            </div>
            <p>Secured Payment Getways</p>
            <img src="/static/images/n31.png" width="20px" height="20px">
        </div>
        <div class="footer-pageb6">
            <p>@ 2022 ,Muhammad Awais - Full Stack Develpor</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js " integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3 " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js " integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i " crossorigin="anonymous "></script>
</body>

</html>