 * {
     margin: 0px;
     padding: 0px;
     box-shadow: border-box;
     font-family: 'Raleway', sans-serif;
     font-family: 'Delicious Handrawn', cursive;
 }
 
 .section-p1 {
     padding: 120px 80px;
 }
 
 .section-p2 {
     padding: 80px 50px;
 }
 
 .section-p3 {
     padding: 80px 80px 0px 50px;
 }
 
 .navbar {
     font-size: 18px;
     font-weight: 800;
     padding: 0px 20px;
     padding: 0px 0px 0px 80px;
 }
 
 .navbar .navbar-nav .nav-link {
     color: black;
     margin: 0px 10px 0px 0px;
     padding: 0px 0px 0px 20px;
     position: relative;
     transition: 0.1s ease;
     position: sticky;
 }
 
 .navbar .navbar-nav .nav-link:hover,
 .navbar .navbar-nav .nav-link.active {
     color: orangered;
 }
 
 .navbar .navbar-nav .nav-link:hover::after {
     content: "";
     position: absolute;
     background-color: orangered;
     width: 50%;
     height: 3px;
     bottom: -6px;
     left: 15px;
 }
 
 #home-page {
     display: flex;
     width: 100%;
     justify-content: space-between;
     text-align: center;
 }
 
 #home-page .home-page1 {
     width: 50%;
     display: flex;
     flex-direction: column;
     text-align: start;
     padding-left: 5%;
     padding-top: 13%;
 }
 
 .home-page2 h1 {
     font-size: 50px;
     font-weight: 900;
     color: black;
 }
 
 .home-page2 span {
     font-size: 50px;
     font-weight: 900;
     color: brown;
     margin-bottom: 20px;
 }
 
 .home-page2 p {
     border-top: 1px solid rgb(212, 208, 208);
     padding-top: 30px;
     font-size: 20px;
     font-weight: 700;
 }
 
 .home-page2 button {
     border: none;
     color: white;
     padding: 10px 30px;
     background-color: brown;
     font-size: 20px;
     font-weight: 800;
     border-radius: 10px;
 }
 
 .home-page2 button:hover {
     background-color: rgb(55, 154, 167);
 }
 
 #home-page .home-page3 {
     width: 100%;
     height: 100%;
     margin-left: 40px;
     margin-top: 12%;
 }
 
 #home-page .home-page3 iframe {
     width: 607px;
     height: 341px;
 }
 
 #home-page4 h1 {
     text-align: center;
     font-size: 55px;
     font-weight: 900;
     color: black;
     position: relative;
 }
 
 #home-page4 h1::after {
     content: "";
     position: absolute;
     width: 15%;
     left: 42%;
     bottom: -10px;
     height: 4px;
     background-color: orangered;
 }
 
 #home-page4 .home-page5 {
     display: flex;
     justify-content: space-between;
     text-align: center;
     flex-wrap: wrap;
 }
 
 #home-page4 .home-page6 {
     min-width: 250px;
     width: 30%;
     height: 77vh;
     margin-top: 80px;
     box-shadow: 20px 20px 30px rgba(0.02, 0.02, 0.02, 0.02);
     cursor: pointer;
     position: relative;
     border-radius: 20px;
     background-color: whitesmoke;
 }
 
 #home-page4 .home-page6:hover {
     box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
 }
 
 #home-page4 .home-page6 img {
     width: 100%;
     height: 40vh;
 }
 
 #home-page4 .home-page6 h2 {
     color: black;
     padding-top: 10px;
     text-align: start;
     font-size: 25px;
     font-weight: 700;
     padding: 15px;
 }
 
 #home-page4 .home-page6 h2:hover {
     color: brown;
 }
 
 #home-page4 .home-page6 h5 {
     color: white;
     background-color: brown;
     padding: 7px 20px;
     position: absolute;
     top: 6%;
     left: 45%;
     font-size: 12px;
     font-weight: 400;
     cursor: auto;
     border-radius: 50px;
 }
 
 #home-page4 .home-page6 p {
     border-top: 1px solid rgb(206, 204, 204);
     padding: 15px;
 }
 
 #home-page4 .home-page7 {
     text-align: center;
 }
 
 #home-page4 .home-page7 button {
     padding: 10px 25px;
     border-radius: 50px;
     color: white;
     background-color: green;
     cursor: pointer;
     margin-top: 80px;
     font-size: 22px;
     font-weight: 700;
 }
 
 #home-page8 {
     text-align: center;
 }
 
 #home-page8 h1 {
     font-size: 35px;
     font-weight: 900;
     color: black;
     position: relative;
 }
 
 #home-page8 h1::after {
     content: "";
     position: absolute;
     width: 15%;
     left: 42%;
     bottom: -10px;
     height: 4px;
     background-color: orangered;
 }
 
 #home-page8 .home-page9 {
     display: flex;
     justify-content: space-between;
     text-align: center;
     flex-wrap: wrap;
 }
 
 #home-page8 .home-page10 {
     border: 1px solid rgb(211, 207, 207);
     width: 24%;
     text-align: start;
     padding: 20px;
     margin-top: 80px;
     border-radius: 20px;
     min-width: 250px;
 }
 
 #home-page8 .home-page10 img {
     width: 100%;
     cursor: pointer;
 }
 
 #home-page8 .home-page10 h2 {
     padding-top: 20px;
     font-size: 30px;
     font-weight: 800;
     color: black;
 }
 
 #home-page8 .home-page10 h2 span {
     color: orange;
 }
 
 #home-page8 .home-page10 p {
     font-size: 16px;
     font-weight: 500;
     color: black;
     padding-top: 10px;
 }
 
 #home-page8 .home-page10 p:hover {
     cursor: pointer;
     color: brown;
 }
 
 #home-page8 .home-page10 button {
     padding: 10px 70px;
     color: white;
     background-color: orange;
     cursor: pointer;
     border-radius: 50px;
     border: none;
     font-size: 15px;
     font-weight: 700;
     padding-top: 8px;
 }
 
 #footer-page {
     display: flex;
     justify-content: space-between;
     text-align: start;
     flex-wrap: wrap;
     background-color: rgb(226, 226, 226);
 }
 
 #footer-page .footer-page1 img {
     width: 180px;
     height: 50px;
 }
 
 #footer-page .footer-page1 h1 {
     padding-top: 20px;
     font-size: 35px;
     font-weight: 800;
     color: black;
 }
 
 #footer-page .footer-page1 p {
     padding-top: 20px;
     font-size: 18px;
     font-weight: 500;
     color: black;
 }
 
 #footer-page .footer-page1 p span {
     font-size: 24px;
     font-weight: 700;
     color: black;
 }
 
 #footer-page .footer-page2 h1 {
     font-size: 35px;
     font-weight: 900;
     color: black;
     padding-top: 20px;
 }
 
 #footer-page .footer-page2 i {
     font-size: 20px;
     font-weight: 800;
     color: black;
     margin: 10px;
     cursor: pointer;
 }
 
 #footer-page .footer-page2 i:hover {
     color: red;
 }
 
 .footer-page3 ul li a {
     color: black;
     cursor: pointer;
     font-size: 15px;
     font-weight: 500;
 }
 
 .footer-page3 ul li a:hover {
     color: brown;
 }
 
 .footer-page4 ul li a {
     color: black;
     cursor: pointer;
     font-size: 15px;
     font-weight: 500;
 }
 
 .footer-page4 ul li a:hover {
     color: brown;
 }
 
 .footer-page5 .footer-page6 {
     padding-top: 15px;
 }
 
 .footer-page5 .footer-page6 img {
     width: 110px;
     height: 50px;
     padding-bottom: 15px;
 }
 
 .footer-page5 img {
     width: 200px;
     height: 50px;
     cursor: pointer;
 }
 
 .footer-pageb6 {
     width: 100%;
     text-align: center;
     margin-top: 50px;
 }
 
 @media (max-width: 768px) {
     #home-page {
         display: flex;
         width: 100%;
         justify-content: space-between;
         text-align: center;
         flex-direction: column;
     }
     #home-page .home-page3 {
         width: 40%;
         height: 100%;
         margin-left: 10px;
         margin-top: 12%;
     }
     #home-page .home-page3 iframe {
         width: 440px;
         height: 341px;
     }
     #home-page .home-page1 {
         width: 0%;
         display: flex;
         flex-direction: column;
         text-align: start;
         padding-left: 2%;
         padding-top: 20%;
     }
 }